<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="styles.css"> -->
<link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
    <div class="form">
        <form method="post" action="/contact">
        
            <h2>CONTACT ME</h2>
            <input type="text" name= "name" placeholder="name">
          
            <input type="number" name="mobile" placeholder="mobile number" id="">
            <input type="email" name="email" placeholder="email" id="">
          
            <button type="submit">Submit</button>
    
        </form>
    </div>
   
</body>
</html>


<!-- EJS can be used to use js variables in html  -->